<div class="container pt-5 p ">
    <h1 align="center">Registration From</h1><hr>
    <form class="example-form text-center">
        <mat-form-field class="example-full-width m-3">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" placeholder="name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width m-3 ">
            <mat-label>Father's Name</mat-label>
            <input matInput type="text" placeholder="Father's Name" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width m-3 ">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width m-3 ">
            <mat-label>Course</mat-label>
            <input matInput type="text" placeholder="Course" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width m-3 ">
            <mat-label>Mobile No.</mat-label>
            <input matInput type="number" placeholder="Mobile No." value="">
          </mat-form-field>
      
        <mat-form-field class="example-full-width  m-3 h-25">
          <mat-label>Address</mat-label>
          <textarea rows="1" matInput placeholder="address"></textarea>
        </mat-form-field>
        <div class="text-center">
            <button mat-raised-button color="primary" class="p-2 m-3 "> Submit</button>
            <button mat-raised-button color="warn" class="p-2 m-3"> cancel</button>
        </div>
       
      </form>
   
      

</div>